@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply text-3xl md:text-4xl mr-[10%] ml-[10%] py-1  font-serif;
  }

  p {
    @apply text-zinc-600;
  }

  .paymentstyle {
    @apply bg-[#FFFFFF26] hover:bg-[#FFFFFF30]  rounded p-[5px] fill-[#FFFFFF90] hover:fill-white transition-all duration-300;
  }

  .FooterLink {
    margin-bottom: 20px; /* Adjust this value as per your requirement */
  }

  .skeleton {
    @apply bg-[#ddd] rounded-sm;
  }
  .title {
    @apply w-[50%] h-[20px] mb-[12px] mt-[10px];
  }
  .description {
    @apply w-[80%] h-[12px] mb-[8px];
  }
  .image {
    @apply w-[80%] aspect-square  my-[10px] rounded-lg;
  }

  /*testing*/
  /* .rasta-stripes {
    .react-datepicker__week:nth-child(3n + 1) {
      background-color: #215005;
    }
    .react-datepicker__week:nth-child(3n + 2) {
      background-color: #eea429;
    }
    .react-datepicker__week:nth-child(3n + 3) {
      background-color: #a82a15;
    }
  } */

  .date-style {
    display: flex !important;
  }

  .PhoneInputInput {
    outline: none;
    /* Anything you want  */
  }
}
